body{
    margin:0px; padding:0px;
    font-family:Raleway;
    background:url(images/background.jpg) no-repeat;
}
#outside_container{
    height:0px;

}
#container{
    margin-top:200px;
}
#container a {

    color: #764f55;
}
#container a:hover {
    color: #e3ded1;
}
#footer{
    background: #a29d90;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    font-family:Raleway;
    border-top:1px solid;
    padding:30px 50px 20px 50px;
}
#footer img{
    float:left;
    margin-right:10px;
}
#footer span{
    display:block;
    float:left;
    width:800px;
}
#footer a {
    color: #764f55;
}
#footer a:hover {
    color: #e3ded1;
}
